.case-list-block {
   margin-top: 100px;
   padding: 0px 120px 50px 120px;
   @media only screen and (max-width: 1024px) {
      margin-top: 80px;
      padding: 0px 60px 50px 60px;
   }
   @media only screen and (max-width: 912px) {
      padding: 0px 20px 50px 20px;
   }
}
.case-list-block__inner-wrapper {
   width: 100%;
   max-width: 1600px;
   margin: 0 auto;
}
.case-list-block__title {
   font-family: "Roboto", sans-serif;
   font-size: 1.125rem;
   line-height: 21.6px;
   font-weight: 300;
   color: #000;
   display: flex;
   align-items: center;
   gap: 5px;
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      margin-bottom: 15px;
   }
}
.case-list-block__body {
   margin-top: 30px;
}
.case-list-block__body-heading {
   font-family: "Roboto", sans-serif;
   font-size: 3.75rem;
   line-height: 66px;
   font-weight: 400;
   color: #000;
   @media only screen and (max-width: 1024px) {
      font-size: 2.5rem;
      line-height: 48px;
   }
}
.case-list-block__body-heading .highlight {
   color: #f25900;
}
.case-list-block__list {
   display: grid;
   grid-template-columns: repeat(2, auto);
   justify-content: center;
   justify-content: space-between;
   @media only screen and (max-width: 1024px) {
      column-gap: 30px;
   }
   @media only screen and (max-width: 820px) {
      display: flex;
      flex-direction: column;
      gap: 50px;
      margin-top: 30px;
   }
}
.case-list-block__list-item {
   width: 600px;
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 20px;
   cursor: pointer;
   --space-top: 120px;
   @media only screen and (max-width: 1024px) {
      width: 420px;
      --space-top: 90px;
   }
   @media only screen and (max-width: 912px) {
      width: 410px;
   }
   @media only screen and (max-width: 820px) {
      --space-top: 0px;
      width: 100%;
   }
}
.case-list-block__list-item-icon {
   position: absolute;
   z-index: 1;
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
}
.case-list-block__list-item:nth-of-type(1) {
   margin-top: var(--space-top);
   .case-list-block__list-item-icon {
      width: 156px;
      height: 156px;
      top: 20px;
      right: 20px;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
         width: 80px;
         height: 80px;
      }
   }
}
.case-list-block__list-item:nth-of-type(3) {
   margin-top: var(--space-top);
   .case-list-block__list-item-icon {
      bottom: 0px;
      left: 0px;
   }
}
.case-list-block__list-item:nth-of-type(4) {
   .case-list-block__list-item-icon {
      width: 560px;
      top: -10px;
      left: -20px;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
         width: 350px;
      }
   }
}
.case-list-block__list-item:nth-of-type(5) {
   margin-top: var(--space-top);
   .case-list-block__list-item-image-wrapper {
      filter: grayscale(100%);
   }
   .case-list-block__list-item-icon {
      width: 100px;
      height: 100px;
      aspect-ratio: 1/1;
      top: 20px;
      right: 20px;
      @media only screen and (min-width: 320px) and (max-width: 767px) {
         width: 70px;
         height: 70px;
      }
   }
}
.case-list-block__list-item:nth-of-type(6) .case-list-block__list-item-icon {
   width: 200px;
   height: 200px;
   aspect-ratio: 1/1;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      width: 100px;
      height: 100px;
   }
}
.case-list-block__list-item-inner {
   position: relative;
   width: 100%;
   height: auto;
   aspect-ratio: 4 / 3;
   overflow: hidden;
   background-color: #ffffff;
}
.case-list-block__list-item-image-wrapper {
   border-radius: 30px;
   position: relative;
   z-index: 0;
   width: 100%;
   height: 100%;
   img {
      border-radius: inherit;
      /* The browser added extra pixel on top of the container, I reduce the image height and width by 0.5px to remove the outline */
      width: calc(100% - 0.5px);
      height: calc(100% - 0.5px);
      object-fit: cover;
   }
}
.case-list-block__list-item-shape-container {
   position: absolute;
   background-color: #ffffff;
   z-index: 10;
   right: 0px;
   bottom: 0px;
   border-top-left-radius: 30px;
   transform: translateY(100%);
   @media only screen and (max-width: 1024px) {
      transform: translateY(0%);
   }
}
.case-list-block__list-item-shape-inner {
   padding-top: 15px;
   padding-left: 15px;
   padding-right: 5px;
}
.case-list-block__list-item-shape {
   position: absolute;
   --postion-size: -30px;
   @media only screen and (max-width: 1024px) {
      --postion-size: -29px;
   }
}
.case-list-block__list-item-shape.left {
   left: var(--postion-size);
   bottom: 0px;
}
.case-list-block__list-item-shape.right {
   right: 0px;
   top: var(--postion-size);
}
.case-list-block__list-item-label {
   padding-left: 10px;
   font-family: "Roboto", sans-serif;
   font-size: 1.75rem;
   font-weight: 400;
   line-height: 33.6px;
   color: #000;
   @media only screen and (max-width: 1024px) {
      font-size: 1.125rem;
      line-height: 21.6px;
   }
   @media only screen and (max-width: 820px) {
      font-size: 1.75rem;
      line-height: 33.6px;
   }
}
