.new-client {
   overflow: hidden;
   width: 100%;
   max-width: 1600px;
   margin: 100px auto 0;
   background-color: #ffffff;
   padding-left: 120px;
   padding-right: 120px;
   padding-bottom: 50px;
   @media only screen and (max-width: 1024px) {
      margin-top: 80px;
      padding-left: 60px;
      padding-right: 60px;
   }
   @media only screen and (max-width: 912px) {
      padding-left: 20px;
      padding-right: 20px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      margin-top: 40px;
   }
}
.new-client__title {
   max-width: 1200px;
   margin: 0px auto;
   font-family: "Roboto", sans-serif;
   font-size: 3.75rem;
   line-height: 66px;
   font-weight: 400;
   color: #000;
   text-align: center;
   @media only screen and (max-width: 1024px) {
      font-size: 2.5rem;
      line-height: 44px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 1.75rem;
      line-height: 30.8px;
   }
}
.new-client__body {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 30px;
}
.new-client__image-wrapper {
   flex-shrink: 0;
   width: 200px;
   height: auto;
   aspect-ratio: 1 / 1;
   img {
      width: 100%;
      height: 100%;
      object-fit: contain;
   }
   @media only screen and (max-width: 1024px) {
      width: 160px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
   }
}
.new-client__text-wrapper {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
}
.new-client__title .highlight,
.new-client__sub-title .highlight {
   color: #f25900;
}
.new-client__sub-title {
   max-width: 870px;
   font-family: "Roboto", sans-serif;
   font-size: 2.5rem;
   margin-bottom: 20px;
   line-height: 48px;
   color: #000;
   font-weight: 400;
   letter-spacing: -0.4px;
   text-align: end;
   @media only screen and (max-width: 1024px) {
      width: 600px;
      font-size: 2rem;
      line-height: 35.2px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 1.5rem;
      line-height: 26.4px;
      text-align: center;
   }
}
.new-client__sub-title .space {
   width: 150px;
   display: inline-block;
   @media only screen and (max-width: 1024px) {
      width: 100px;
   }
   @media only screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
   }
}
